{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
<!-- <link   rel="stylesheet"   type="text/css"   href="{%   static  'clinica/css/index.css'   %}"   />-->
{% endblock %}
{% block titulo %} Inicio {% endblock %}
{% block content %}
<row>
	<div class="col-md-3">
		<a href="/paciente/agregar" class="btn btn-primary btn-lg btn-block">Nueva Medicion</a>
		<a href="/pacientes" class="btn btn-primary btn-lg btn-block">Medias</a>
		<a href="/calendario" class="btn btn-primary btn-lg btn-block">Calendario</a>
		<br />
    </div>
    <div class="col-md-9" >
	    <div class="panel panel-default">
 		 	<div class="panel-heading">Ultimas 24 temperaturas</div>
         <div class="panel-body">
           <div class="table-responsive">
         		<table class="table table-striped">
                  <th>#</th>
                  <th>temperatura</th>
                  <th>fecha</th>
                  {% for temperatura in las_temperaturas %}
                  	<tr>
										<td>{{ temperatura.id }}</td>
										<td>{{ temperatura.temperatura }}ºC</td>
										<td>{{ temperatura.fecha }}</td>
                    </tr>
                  {% endfor %}
         	   </table>
			</div>
         </div>
         </div>
       </div>
    </div>
</row>
{% endblock %}
